#gc-mandate-details td:nth-child(1) {
  font-weight: bolder;
}
.gc-settings-form-number-length {
  width: auto !important;
}
#gc-item-table,
#gc-upcoming-payments-details {
  max-width: 600px;
}
#gc-item-table td:nth-child(1) {
  font-weight: bolder;
}
